{% extends "layout.html" %}
{% block content %}

         
          </div>
          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Edit Profile</h5>
              </div>
              <div class="card-body">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class=flashes>
                  {% for message in messages %}
                  <p style="margin-right: 20%; margin-left: 20%; text-align: center;"><strong style="color:royalblue;">{{ message }}</strong></p>
                  {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <form action="/account" method="POST">
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>USN</label>
                        <input type="text" class="form-control" disabled placeholder="Company" name="usn" value="{{usn}}">
                      </div>
                    </div>
                    <div class="col-md-3 px-1">
                      {% if error %}
                      <p class=error><strong>Error:</strong> {{ error }}
                        {% endif %}
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="username" value="{{username}}">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" placeholder="Email" name="email" value="{{email}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{firstn}}">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{lastn}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Home Address" name="address" value="{{address}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Branch</label>
                        <input type="text" class="form-control" placeholder="branch" name="branch" value="{{branch}}">
                      </div>
                    </div>
                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>SEM</label>
                        <input type="text" class="form-control" placeholder="sem" name="sem" value="{{sem}}">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label>Section</label>
                        <input type="text" class="form-control" placeholder="section" name="sec" value="{{sec}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock content %}